<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EGRET</title>
  <!--
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-theme.css') }}">
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>
<body>
<div class="container" style="margin-top:10px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>EGRET</h1>
    </div>
    <div class="panel-body">
      Evil Generation of Regular Expression Tests
    </div>
  </div>

  {% if warnings %}
  <div class="alert alert-warning">
    <strong>Warnings:</strong>
    <ul>
      {% for warning in warnings %}
      <li> {{ warning }} </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if errorMsg %}
  <p class="alert alert-danger"><strong>{{ errorMsg }}</strong>
  {% endif %}

  <form action="{{ url_for('process_submit') }}" method=get>

    <div class="panel panel-info">

      <div class="panel-heading">
        <h2 class="panel-title">Enter regular expression</h2>
      </div>

      <div class="panel-body">
        <input class="form-control" type="text" name="regex" value="{{ regex }}"
          style="font-family: Courier New, Courier, monospace">
	<br>
        {% if showGroups %}
	<input type="checkbox" name="showGroups" checked/>
        {% else %}
        <input type="checkbox" name="showGroups"/>
        {% endif %}
        Show groups for accepted strings
	<br>
	<br>
        <input class="btn btn-primary" type=submit value=Submit>
      </div>

    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Strings in current session:</h2>
      </div>
      <div class = "panel-body">
        <ul>
          {% for item in session %}
          <li> {{ item }} </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="panel panel-info">

      <div class="panel-heading">
        <h2 class="panel-title">Try your own test string (optional)</h2>
      </div>

      <div class="panel-body">
        {% if testString %}
        <input class="form-control" type="text" name="testString" value="{{ testString }}"
          style="font-family: Courier New, Courier, monospace"><br>
	{% else %}
        <input class="form-control" type="text" name="testString"
          style="font-family: Courier New, Courier, monospace"><br>
        {% endif %}

        <input class="btn btn-primary" type=submit value=Test>

        {% if testResult == "ACCEPTED" %}
	<h3><span class="label label-success"> {{ testResult }} </span></h3>
        {% elif testResult == "REJECTED" %}
	<h3><span class="label label-danger"> {{ testResult }} </span></h3>
        {% endif %}
      </div>

    </div>

  </form>
  
  <!-- START OF STRING SAVING FORM -->
  <form action="{{ url_for('save') }}" method=get>
  <div class="panel panel-info">

    <div class="panel-heading">
      <h2 class="panel-title">Accepted Strings</h2>
    </div>

    <div class="panel-body">

      {% if groupHdr %}
      <table class="table table-bordered">
        <tr>
          <th></th>
          <th colspan="{{ numGroups }}" style="text-align:center">Groups</th>
        </tr>
        <tr>
          {% for item in groupHdr %}
          <th> {{ item }} </th>
          {% endfor %}
        </tr>
        {% for row in groupRows %}
        <tr>
	  {% for item in row %}
	  <td> 
            <font face="Courier New, Courier, monospace"> {{ item }} </font>
            {% if item not in session %}
            {% if loop.index == 1 %}
            <input type=checkbox name=save value="{{ item }}">
            {% endif %}
            {% endif %}
	  </td>
	  {% endfor %}
	  </font>
        </tr>
        {% endfor %}
      </table>

      {% else %}
      <font face="Courier New, Courier, monospace">
        {% for item in allPass %}
        {{ item }}
        {% if item not in session %}
        <input type=checkbox name=save value="{{ item }}">
        {% endif %}
        <br>
        {% endfor %}
      </font>

      {% endif %}
    </div>

  </div>

  <div class="panel panel-info">

    <div class="panel-heading">
      <h2 class="panel-title">Rejected Strings</h2>
    </div>

    <div class="panel-body">
      <font face="Courier New, Courier, monospace">
        {% for item in allFail %}
        {{ item }}
        {% if item not in session %}
        <input type=checkbox name=save value="{{ item }}">
        {% endif %}
        <br>
        {% endfor %}
      </font>
    </div>
    <!--<a href="/save" class="btn btn-primary">Save selected strings</a>-->
    <!--<input class="btn btn-primary" type=submit value="Save selected strings">-->
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">Session Controls</h2>
    </div>
    <div class="panel panel-body">
      <input class="btn btn-primary" type=submit name=submit value="Save selected strings">
      <input class="btn btn-primary" type=submit name=submit value="Save all strings">
      <a href="/clear" class="btn btn-danger">Clear session</a>
      <a href="/download" class="btn btn-primary">Download session</a>
      <a href="/upload" class="btn btn-primary">Upload session</a>
    </div>
  </div>
  
  </form> 
  <!-- END OF STRING SAVING FORM -->

  <div class="panel panel-danger">

    <div class="panel-heading">
      <h4 class="panel-title">About EGRET</h4>
    </div>

    <div class="panel-body">
      <p>Copyright (C) 2016 Eric Larson and Anna Kirk</p>
      <p>Program maintained by Eric Larson (elarson@seattleu.edu) at Seattle University</p>
      <p><a href="http://fac-staff.seattleu.edu/elarson/web/egret.htm">
        Additional information about EGRET
      </a></p>
    </div>

  </div>

</div>
</div>
</body>