<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>GGRE: Generation of Good Regular Expressions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> <!--JQUERY-->
	<script type=text/javascript src="{{url_for('static', filename='REGen.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='RE_Gen_Styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <body onload="document.forms['create-re'].reset();">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="/">EGRET: Evil Generation of Regular Expression Tests</a></li>
          <li role="presentation" class="active"><a href="/regex_gen">GGRE: Good Generation of Regular Expressions</a></li>
	</ul>

        <div class="container">
            <h2>GGRE: Good Generation of Regular Expressions</h2>
            <div id="form-wrapper">
                <form id="create-re" name="create-re">
                    <div class='panel panel-info'>
                            <div class='panel-heading'>
                                <h2 class='panel-title'>Select Regular Expression Type:</h2>
                            </div>
                            
                            <div class="panel-body">
                                <input onchange="selectForm()" type="radio" class="form-radio re-type" name="re-type" value="integer" checked> Integer
                                <input onchange="selectForm()" type="radio" class="form-radio re-type" name="re-type" value="date"> Date
                                <input onchange="selectForm()" type="radio" class="form-radio re-type" name="re-type" value="float"> Float
                                <input onchange="selectForm()" type="radio" class="form-radio re-type" name="re-type" value="phone"> US Phone Number
                            </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Fill Out the Following Form: </h2>
                        </div>
                        <div class="panel-body">
                            <div id='ints' class="">
                                <div id="edit-max-dig-wrapper" class="form-item">
                                    <label for="edit-max-dig" id="max-label" class="unbolded">Maximum digits (leave blank for no limit):</label>
                                    <input onchange="" type="number" class="form-text required" min="1" size="4" maxlength="128" id="edit-max-dig" name="Max_dig" style="font-family: Courier New, Courier, monospace">
                                </div>
                                <div id="edit-max-dig-post-dec-wrapper" class="floats-field form-item hide"> 
                                    <label for="edit-max-dig-post-dec" class="unbolded">Maximum digits after decimal (leave blank for no limit):</label>
                                    <input onchange="" type="number" class="form-text required" size="4" maxlength="128" id="edit-max-dig-post-dec" name="Max_dig_post_dec" style="font-family: Courier New, Courier, monospace">
                                </div>
                                <div id="switch-negative-wraper" class='form-item'>
                                    <label for="switch-negative" class="unbolded">Allow negative values:</label>
                                    <input onchange='swapNegZero()' type="checkbox" class="form-text required" id='switch-negative' value="yes_negative" name="negative">
                                    <div id="neg-zero-wrapper" class="hide">
                                        <label for="neg-zero" class="unbolded">Allow negative zero: </label>
                                        <input onchange='' type="checkbox" class="form-text required" id='neg-zero' value="neg-zero" name="neg-zero">
                                    </div>
                                </div>
                                <div id="switch-leading-zero-wrapper" class='form-item'>
                                    <label for="switch-leading-zero" class="unbolded">Allow leading zeroes:</label>
                                    <input onchange='' type="checkbox" class="form-check required" id='switch-leading-zero' value="yes_zeroes" name="leadingZeroes">
                                </div>
                                <div id="switch-trailing-zero-wrapper" class='float-field form-item hide'>
                                    <label for="switch-trailing-zero" class="unbolded">Allow trailing zeroes:</label>
                                    <input onchange='' type="checkbox" class="form-check required" id='switch-trailing-zero' value="yes_zeroes" name="trailingZeroes">
                                </div>
                                <div id="comma-separator-wraper" class="form-item">
                                    <label for="comma-separator" class="unbolded">Allow comma separators (example: 1,234,567):</label>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="comma-separator" value="No" checked> Not allowed
                                    </div>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="comma-separator" value="Both"> Allowed but not required
                                    </div>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="comma-separator" value="Yes"> Required
                                    </div>
                                </div>
                            </div>

                            <div id='dates' class='hide '> 
                                <div id="edit-format-wrapper" class="form-item">
                                    <label for="edit-format" class="unbolded">Select format:</label>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="edit-format" value="mdy" checked> Month / Day / Year
                                    </div>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="edit-format" value="dmy"> Day / Month / Year
                                    </div>
                                </div>
                                <div id="year-selection-wrapper" class="form-item">
                                    <label for="year-selection" class="unbolded">Year format:</label>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="year-selection" value="two" checked> 2 digits
                                    </div>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="year-selection" value="four"> 4 digits
                                    </div>
                                    <div>
                                        <input onchange="" type="radio" class="form-radio" name="year-selection" value="both"> either 2 or 4 digits
                                    </div>
                                </div>
                                <div id="edit-separator-wrapper" class="form-item">
                                    <label for="edit-separator" class="unbolded">Select separator between fields (must select at least one):</label>
                                    <div>
                                        <input onchange='' type="checkbox" class="form-check required" id='edit-separator' value="yes_slash_sep" name="foreward-slash-sep" checked> /
                                    </div>
                                    <div>
                                        <input onchange='' type="checkbox" class="form-check required" id='edit-separator' value="yes_period_sep" name="period-sep"> .
                                    </div>
                                    <div>
                                        <input onchange='' type="checkbox" class="form-check required" id='edit-separator' value="yes_sep_check" name="custom-sep-check">
                                        <label for="edit-max-dig" id="max-label" class="unbolded">Additional custom separators (no spaces between separators): </label>
                                        <input onchange="" type="text" class="form-text required" size="6" maxlength="128" id="edit-separator" name="custom-sep-input" style="font-family: Courier New, Courier, monospace">
                                    </div>
                                </div>
                                <div id="switch-zeroes-wraper" class='form-item'>
                                    <label for="switch-zeroes" class="unbolded">Require zeroes (i.e. "01" instead of "1"):</label>
                                    <input onchange='' type="checkbox" class="form-text required" id='switch-zeroes' value="yes-enforce" name="enforce-zero">
                                </div>
                                <div id="switch-group-labels-wrapper" class='form-item'>
                                    <label for="switch-group-labels" class="unbolded">Add named groups for month, day, and year:</label>
                                    <input onchange='' type="checkbox" class="form-text required" id='switch-group-labels' value="yes-enforce" name="group-labels">
                                </div>
				<div>
                    <i>Note: The generated regular expression will restrict the month to be from 1-12 and the day to be from 1-31. Further checking is needed for invalid dates such as February 30.
                </i></div>
                            </div>
                            <div id="phone-number" class="hide">
                                <div id="edit-phone-format-wrapper" class="form-item">
                                    <label for="edit-phone-format" class="unbolded">Select format:</label>
                                    <div>
                                        <input onchange='' type="checkbox" class="form-check required" id='edit-phone-format' value="yes_full_format" name="full-format" checked> (012) 345-6789
                                    </div>
                                    <div>
                                        <input onchange='' type="checkbox" class="form-check required" id='edit-phone-format' value="yes_dash_format" name="dash-format"> 012-345-6789
                                    </div>
                                    <div>
                                        <input onchange='' type="checkbox" class="form-check required" id='edit-phone-format' value="yes_unformatted" name="unformatted"> 0123456789
                                    </div>
                                </div>
                                <div id="edit-area-code-wrapper" class="form-item">
                                    <label for="edit-area-code" class="unbolded">Area code: </label>
                                    <input onchange="" type="text" class="form-text required" size="5" maxlength="3" id="edit-area-code" name="area-code" style="font-family: Courier New, Courier, monospace">
                                </div>
                            </div>
                            
                            <br>
                            <input type="button" onclick="createRegularExpression()" class="form-submit btn btn-primary" value="Generate" id="edit-submit" name="op">
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Regular Expression: </h2>
                </div>
                <div class="panel-body">
                    <div id="re" style="font-family: Courier New, Courier, monospace"></div>
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="panel-title">About GGRE</h4>
                </div>

                <div class="panel-body">
                  <p>Copyright (C) 2016 Bryan Herr and Eric Larson</p>
                  <p>Program maintained by Eric Larson (elarson@seattleu.edu) at Seattle University</p>
                </div>
            </div>
        </div>
    </body>
</html>
