<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EGRET</title>
  <!--
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-theme.css') }}">
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>
<body>
<div class="container" style="margin-top:10px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>EGRET</h1>
    </div>
    <div class="panel-body">
      Evil Generation of Regular Expression Tests
    </div>
  </div>

  <div class="panel panel-info">
      <div class="panel-heading">
          <h2 class="panel-title">Paste the contents of your .txt session file here</h3>
      </div>
      <div class="panel-body">
        <form action="/" method=get>
            <textarea name="upload"></textarea>
            <br>
            <br>
            <input class="btn btn-primary" type=submit value=Submit>
        </form>
      </div>
  </div>

  <div class="panel panel-danger">

    <div class="panel-heading">
      <h4 class="panel-title">About EGRET</h4>
    </div>

    <div class="panel-body">
      <p>Copyright (C) 2016 Eric Larson and Anna Kirk</p>
      <p>Program maintained by Eric Larson (elarson@seattleu.edu) at Seattle University</p>
      <p><a href="http://fac-staff.seattleu.edu/elarson/web/egret.htm">
        Additional information about EGRET
      </a></p>
    </div>

  </div>

</div>
</div>
</body>