<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EGRET: Evil Generation of Regular Expression Tests - Upload</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>
<body>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="/">EGRET: Evil Generation of Regular Expression Tests</a></li>
  <li role="presentation"><a href="/regex_gen">GGRE: Good Generation of Regular Expressions</a></li>
</ul>

<div class="container">

  <h2> EGRET: Evil Generation of Regular Expression Tests </h2>

  {% if uploadError %}
  <p class="alert alert-danger"><strong>{{ uploadError }}</strong>
  {% endif %}

  <div class="panel panel-info">

    <div class="panel-heading">
      <h2 class="panel-title">Upload session file</h2>
    </div>

    <div class="panel-body">
      <form action="" method=post enctype=multipart/form-data>
        Uploaded session file must be a .txt file. Each line in the .txt file will be added as a saved test string.
	<br><br>
        <p><input type=file name=file>
        <br>
        <input class="btn btn-primary" type=submit value=Upload>
      </form>
    </div>

  </div>

  <div class="panel panel-danger">

    <div class="panel-heading">
      <h4 class="panel-title">About EGRET</h4>
    </div>

    <div class="panel-body">
      <p>Copyright (C) 2016 Eric Larson, Anna Kirk, and Nicolas Oman</p>
      <p>Program maintained by Eric Larson (elarson@seattleu.edu) at Seattle University</p>
      <p><a href="http://fac-staff.seattleu.edu/elarson/web/egret.htm">
        Additional information about EGRET
      </a></p>
    </div>

  </div>

</div>
</body>
